@use "../../colors" as colors;

.feature {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    color: colors.$dark-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.03);

    i {
        font-size: 30px;
        color: colors.$primary-color;
    }

    &__text {
        height: max-content;
        display: flex;
        flex-direction: column;

        &-title {
            font-size: 12px;
            font-weight: 600;
        }

        &-description {
            font-size: 11px;
            font-weight: 400;
        }
    }
}