// Colors
$primary-color: #c7a17a;
$background-color: #f9f5f0;
$dark-color: #151515;
$gray: #777777;

// Icons footer
$facebook: #3b5998;
$twitter: #00acee;
$instagram-gradient: linear-gradient( #405de6, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #fcaf45 );;
$instagram-no-gradient: #c13584;
$youtube: #c4302b;
$pinterest: #c8232c;